html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.character.container {
  /* center the character images */
  display: flex;
  gap: 20px;
}
#firstImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* rounded corners */
  border: solid 2px black; /* black border */
  margin: auto;
}

#secondImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* rounded corners */
  border: solid 2px black; /* black border */
  margin: auto;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}
